body {
    background-color: #edf0ee;
    margin: 0;
  }
  
  h1 {
    vertical-align: middle;
    font-size: 2.8rem;
  }
  
  .yellow-box {
    color: #000;
    background-color: #ebc034;
    display: inline-block; 
    margin: 10px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 0 5px 0 5px;
  }
  
  .yellow-box-position {
    text-align: center;
  }
  
  .header {
    background-color: #000000;
    height: 125px;
    padding-top: 50px;
  }
  
  #title {
    display: inline-block; 
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #FFF;
    margin: 0;
  }
  
  .div-top {
    border-bottom: 1px solid #d2d2d7;
    width: 960px;
    margin: 0 auto;
  }
  
  .div-h2 {
    color: #333333;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: -10px;
  }
  
  .div-h3 {
    color: #333333;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
  }
  
  #description {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
  }
  
  #main {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 960px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 7px 15px 7px 15px;
  }
  
  .div-form {
    
  }
  #submit {
    background-color: #000;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
  }
  
  #submit-button {
    text-align: center;
  }
  
  .radio, .checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
  }
  
  .radio-list {
    margin-top: -1px;
  }
  
  .check-list {
    margin-top: -1px;
  }
  
  .leftside-form {
    width: 45%;
    text-align: right;
    display: inline-block; 
    margin:10px;
    vertical-align: top;
  }
  
  .rightside-form {
    width: 45%;
    text-align: left;
    display: inline-block; 
    margin: 10px;
  }
  
  .user-choice {
    float: left;
    margin-left: -5px;
  }
  
  .space {
    margin-left: 5px;
  }
  
  footer {
    text-align: center;
    color: #86868B;
    border-top: 1px solid #d2d2d7;
    width: 960px;
    margin: 0 auto;
  }
  
  /* Media Query */
  
  @media screen and (max-width: 833px) {
    .name {
      width: 80%;
    }
    
    select {
      width: 80%;
    }
    .leftside-form {
      width: 100%;
      text-align: left;
      margin-top: 0;
    }
    .rightside-form {
      width: 100%;
      float: left;
      margin-top: 0;
    }
    .div-top {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
    
  }
  
  @media screen and (max-width: 520px) {
    
    .div-top {
      width: 100%;
    }
    
    .leftside-form {
      width: 100%;
      text-align: left;
      margin-top: 0;
    }
    .rightside-form {
      width: 100%;
      float: left;
      margin-top: 0;
    }
    .name {
      width: 80%;
    }
    select {
      width: 80%;
    }
    
    footer {
      width: 100%;
    }
  }